{% extends 'layout.html.twig' %}

        {% block stylesheets %}
            <link href="../../src/views/css/main.css" type="text/css" rel="stylesheet" />
        {% endblock %}

{% block content %}

Voici les combats qui sont dans la base de donnée : </br>
<div class="liste">
<ul>
 {% for cb in battles %}
<li> Combat n°{{cb.id}}  : {{cb.perso}}  vs {{ cb.monstre.getNom}}  résulat : {{cb.resulat}}</li>
 
    {% endfor %}
    </ul>


    
{% endblock %}
