.bagarre{
    display: flex;
    flex-wrap: nowrap;
}

div .vie{
    background-color: red;
    width:100%;
}


#vie_personnage{
    background-color: greenyellow;

    color: black;
    text-align: center;
}


#vie_monstre{
    background-color: greenyellow;

    color: black;
}

div .combattant{
    border: solid;
    width: 48%;
    text-align: center;
}

.image{
    max-height: 100%;
    align-content: center;
} 

img{
    height: 89%;
    width: auto;
    max-height: 89%;
}

