.personnage{
  display: flex;
  flex-flow: row wrap;
  grid-template-columns : auto  auto auto auto auto ;
  grid-template-rows: auto auto auto;
  border: 5px solid black;
  /*margin-right:5px;*/
  width:48%;
  height:100%;


}
.monstre{
  display: flex;
  flex-flow: row wrap;
  grid-template-columns : auto  auto auto auto auto ;
  grid-template-rows: auto auto auto;
  border: 5px solid black;
  margin-left:5px;
  width:48%;
  height:100%;
}
.block{
  display: flex;
  flex-flow: row wrap;
}
body{
  width:100%;
}
.image{
  padding : 10px;
  width: 68%;
  height: 68%;
}


.card-image {
  width: 200px;
  height: 200px;

  background-color: white;
 border: 1px blue solid;
 text-align: center;
 display: table-cell;

 vertical-align: middle;
 }

 .tab{
  color:black;
  width:100%;
  text-align: center;
  height :25%;
  background-color: Violet  ;

 }

h1{
  margin:0;
  border:0;
  padding:0;
}


#overlay {
  position: fixed;
  display: none;
  width: 40%;
  height: 70%;
  position: fixed;
  top:15%;
  left :30%;
  right:30%;
  bottom:15%;
  color:white;
  background-color: black;
  z-index: 8;
  cursor: pointer;
  
}


#overlaym {
  position: fixed;
  display: none;
  width: 40%;
  height: 70%;
  position: fixed;
  top:15%;
  left :30%;
  right:30%;
  bottom:15%;
  color:white;
  background-color: black;
  z-index: 8;

  cursor: pointer;
}

.txt{
  float: right;
  text-align: center;
  margin-right: 10%;

}